<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("partials/head", {title: "Formulario de edición"}) %>
    <script src="/js/editarProducto.js" defer></script>
</head>
<body>

    <!------------------------------------- HEADER ----------------------------------->
    <header>
        <%- include("partials/header") %>
    </header>

    <div>
        <h2 class="title">Editar producto</h2>
    </div>

    <form class="create-product-form" action="/products/<%= product.id %>?_method=put" method="post" id="editForm" enctype="multipart/form-data">
        <div>

            <div class="input-containet-create-edit-product">
                <label for="name">Nombre del producto:</label>
                <input class="input-create-edit-form" type="text" value="<%= product.product_name %>" id="name" name="name" placeholder="Ej: Buzo Novel">
                <span class="errorMsg" id="nameError"></span>
                <% if (locals.errors && errors.name) { %>
                    <div>
                        <p class="error-text"><%= errors.name.msg %></p>
                    </div>
                <% } %>
            </div>

            <div class="input-containet-create-edit-product">
                <label for="price">Precio del producto:</label>
                <input class="input-create-edit-form" type="number" value="<%= product.price %>" id="price" name="price" placeholder="Ej: 150">
                <span class="errorMsg" id="priceError"></span>
                <% if (locals.errors && errors.price) { %>
                    <div>
                        <p class="error-text"><%= errors.price.msg %></p>
                    </div>
                <% } %>
            </div>

            <div class="input-containet-create-edit-product">
                <label for="discount">Descuento:</label>
                <input class="input-create-edit-form" type="number" value="<%= product.discount %>" id="discount" name="discount" placeholder="Ej: 10 off">
                <span class="errorMsg" id="discountError"></span>
                <% if (locals.errors && errors.discount) { %>
                    <div>
                        <p class="error-text"><%= errors.discount.msg %></p>
                    </div>
                <% } %>

            </div>

            <div class="input-containet-create-edit-product">
                <label for="image">Imagen:</label>
                <input class="input-create-edit-form" type="file" name="image" id="image">
                <span class="errorMsg" id="imageError"></span>
                <% if (locals.errors && errors.image) { %>
                    <div>
                        <p class="error-text"><%= errors.image.msg %></p>
                    </div>
                <% } %>
            </div>

        </div>

        <div class="create-edit-product-submit-button">
            <button type="submit">Guardar producto</button>
        </div>
    </form>

    <%- include("partials/burguerMenu") %>

    <!------------------------------------- FOOTER ----------------------------------->
    <footer>
        <%- include("partials/footer") %>
    </footer>
</body>
</html>